@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

.hidden{
display:none;
}

.busca{
display:flex;
flex-direction:column;
gap:10px;
max-width:300px;
}

.topo-rota{
margin-bottom:20px;
}

.estacao{
padding:8px;
border-bottom:1px solid #ddd;
}

#header {
    background-color: #0053A0;
    color: #FFFFFF;
    padding: 30px 20px;
}

#header .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header .navbar .title {
    width: 90%;
}

#header .navbar .notification {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#header .navbar .notification img {
    width: 20px;
    height: 20px;
}

#header .navbar h1 {
    font-size: 16px;
    font-weight: 500;
}

#infos {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

#infos .service-title p {
    font-size: 20px;
    font-weight: 600;
}

#infos .main-services {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#infos .main-services > div {
    padding: 20px;
    background-color: #0053A0;
    border-radius: 10px;
    align-items: center;
    color: #FFFFFF;
}

#infos .main-services > div p.title {
    font-size: 16px;
}

#infos .main-services > div p.description {
    font-size: 12px;
    margin: 8px 0px;
}

#infos .main-services > div button {
    float: right;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #0053A0;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.grid-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    text-align: center;
}

.grid-services > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0053A0;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 20px 10px;
    gap: 10px;
}

.grid-services > div img {
    width: 40px;
}

.grid-services > div p {
    font-size: 12px;
}